:root {
  --font-family: 'Open Sans',
    sans-serif;
  --majorelle: #6050dc;
  --white: #ffffff;
  --black: #000000;
}
/* .container {
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.content {
  flex-grow: 0;
  flex-basis: 100%;
  box-sizing: border-box;
  padding: 5px;
  text-align: right;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
} */
/* adjustments for medium screens, like some tablets or landscape on a mobile
@media (min-width: 576px) {}

/* adjustments for medium-large screens, like some tablets */
/* @media (min-width: 768px) {

  .item.navbar-logo,
  .item.navbar-menu {
    flex-basis: 50%;
  }
} */

/* adjustments for large screens, like laptops and desktops */
/* @media (min-width: 992px) {
  .container {
    width: 992px;
    margin: 0 auto;
  }

} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  padding: 0;
  background-color: var(--black);
  color: var(--majorelle);
  flex-wrap: wrap;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: +.05em;
  margin: 0 0 40px;
  text-align: right;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#navbar {
  display: flex;
  background-color: var(--white);
  color: var(--majorelle);
  /* border-bottom: 0.1px solid var(--majorelle); */
}
.navbar-items {
  justify-content: left;
}
/* -- Footer styles -- */
#footer {
  display: flex;
  margin-top: auto;
  background-color: var(--white);
  color: var(--majorelle);
  height: 200px;
  /* border-top: 0.1px solid var(--majorelle); */
}

