
.container{
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FBFFDA;
    display: flex;
    justify-content: center;

    transition-property: all;
    transition-delay: 0.5s;
    transition-duration: 2s;
}

.bg{
    background: #C1C1C1;
}

.subject1{
    position: absolute;
    width: 40%;
    height: 15%;
    top: 40%;
    /* border: black dashed 3px ; */
}
.subject{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    /* border: yellow dashed 3px ; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.subjectTitle{
    font-family: 'SimplerPro';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6em;
    line-height: 89%;
    /* or 20px */
    
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #6B53FF;
    
    transform: rotate(2.73deg);
    z-index: 1;
}

.modalButton {
    position: absolute;
    bottom: 0%;
    left: 10%;
    height: 20%;
    width: 20%;
    /* border: red dashed 3px ; */

}

  