.container{
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background: #6249FF;
    /* border: #FF6D46 dashed 4px; */
}

#smiley1{
    position: absolute;
    right: 0px;
    top: 0px;
}

#smiley2{
    position: absolute;
    left: 0px;
    bottom: 100px;
}
#smiley3{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#happy{
    position: absolute;
    right: 0px;
    bottom: 145px;
}

#textcircle{
    position: absolute;
    left: 0px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #FF6D46 dashed 4px; */
}
#textimage{
    position: relative;
    left: 17px;
    /* border: #06050c dashed 4px; */

}
#textname{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 381px;
    position: absolute;
    max-width: 223px;

    font-family: 'CosHalavDfus';
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.125em;

    color: #6249FF;
    /* background: #FF6D46; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* border: #6249FF dashed 4px; */

}

#redbottom
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.hidden {
    opacity: 0;
    transition: all 2s;
}

.show {
    opacity: 1;
}