
.container{
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FFC4B5;
}


.text1{
    position: absolute;
    top: 20%;
    right: 8%;

    font-family: 'COLBO';
    font-style: normal;
    font-weight: 900;
    font-size: 7em;
    line-height: 91.5%;    
    text-align: right;
    letter-spacing: 0.03em;
    color: #FC653C;
}

.text2{
    position: absolute;
    bottom: 20%;
    right: 8%;

    font-family: 'COLBO';
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 102.5%;

    text-align: right;
    letter-spacing: 0.065em;
    color: #FC653C;
}