.container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FFC4B5;
}


.text1 {
    position: absolute;
    width: 78.97%;
    height: 18.68%;
    left: 14.10%;
    top: 27.09%;

    font-family: 'COLBO';
    font-style: normal;
    font-weight: 900;
    font-size: 250%;
    line-height: 92%;

    text-align: right;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.text2 {
    position: absolute;

    left: 12.82%;
    top: 69.56%;

    font-family: 'COLBO';
    font-style: normal;
    font-weight: 900;
    font-size: 218%;
    line-height: 102.5%;

    text-align: right;
    letter-spacing: 0.065em;

    color: #FC653C;
}

.bigText {
    position: relative;
    font-size: 140px;
    top: 11%;


}