.container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FFC4B5;
}


.text1 {
    position: absolute;
    right: 7.2%;
    top: 17%;

    font-family: 'COLBO';
    font-style: normal;
    font-weight: 900;
    font-size: 250%;
    line-height: 92%;

    text-align: right;
    letter-spacing: 0.03em;

    color: #FFFFFF;
    /* border: #FC653C 3px dashed; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text2 {
    position: absolute;

    right: 7.2%;
    bottom: 20%;

    font-family: 'COLBO';
    font-style: normal;
    font-weight: 900;
    font-size: 218%;
    line-height: 102.5%;

    text-align: right;
    letter-spacing: 0.065em;

    color: #FC653C;
}

.bigText {
    /* border: #FC653C 3px dashed; */
    /* position: absolute; */
    width: fit-content;
    font-size: 250%;
    line-height: 60%;
    /* top: 30%;
    right: 7%; */
}