.container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FFC4B5;
    display: flex;
    justify-content: center;
    /* align-items: center; */

    transition-property: all;
    transition-delay: 0.35s;
    transition-duration: 1.2s;
}

.bg {
    background: #FBFFDA;
}

.text {
    /* border: #6B53FF solid 2px; */
    position: absolute;
    width: 85%;
    height: 198px;
    /* right: 10%; */
    top: 20%;

    font-family: 'COLBO';
    font-style: normal;
    /* font-weight: 900; */
    font-size: 250%;
    line-height: 109.5%;
    /* or 44px */

    text-align: right;
    letter-spacing: 0.06em;

    color: #6B53FF;
}

.confetti{
    /* border: #6B53FF solid 2px; */
    position: absolute;
    width: 90%;
    height: 50%;
    bottom: 0;
}