.container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FFC4B5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition-property: all;
    transition-delay: 0.35s;
    transition-duration: 1.2s;
}

.bg {
    background: #FBFFDA;
}
.inner{
    position: relative;
    width: 80%;
    height: 45%;
    right: 7.2%;
    bottom: 5%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-family: 'COLBO';
    font-style: normal;
    text-align: right;
    letter-spacing: 0.06em;
    color: #6B53FF;
}

.bigtext {
    font-weight: 900;
    font-size: 480%;
    line-height: 90%;
}

.text {
    font-size: 200%;
    line-height: 109.5%;
}