.container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FFC4B5;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition-property: all;
    transition-delay: 0.35s;
    transition-duration: 1.2s;
}

.bg {
    background: rgb(193, 193, 193);
}

.inner{
    position: absolute;
    top: 0;
    height: 90%;
    width: 100%;
    max-width: 400px;
}

.paragraph1 {
    /* border: black solid 2px; */
    position: absolute;
    width: 84.6%;
    height: 8.5%;
    left: 8.4615%;
    top: 20.8%;

    font-family: 'SimplerPro-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 225%;
    line-height: 100%;

    text-align: right;

    color: #FFFFFF;

}

.paragraph2 {
    /* border: greenyellow solid 2px; */
    position: absolute;
    /* width: 100%;
    height: 12.793755364832135%; */
    right: 6.9%;
    top: 31.120468277945624%;
    /* top: 26%; */

    font-family: 'SimplerPro-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 320%;
    line-height: 90%;

    text-align: right;

    color: #6B53FF;

}

.paragraph3 {
    /* border: red solid 2px; */
    position: absolute;
    /* width: 84.6%;
    height: 8.5%; */
    right: 6.9%;
    top: 45.7%;
    /* top: 50%; */

    font-family: 'SimplerPro-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 225%;
    line-height: 100%;

    text-align: right;

    color: #FFFFFF;
}

.arrow {
    position: absolute;
    height: 12.14%;
    width: 16.65%;
    left: 19.3%;
    top: 52.95%;
    /* top: 48%; */
}

.investers {
    /* border: green solid 1px; */
    position: absolute;
    height: 20%;
    width: 90%;
    top: 63%;
    transform: rotate(351.88deg);
    display: flex;
    justify-content: flex-end;
}

.number {
    /* border: red solid 1px; */
    z-index: 1;
    position: absolute;
    font-size: 100%;
    font-family: 'SimplerPro-Black';
    color: #505050;
    top: 36%;
    right: 4%;
    /* font-size: 3.8rem; */
}