.container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FFC4B5;
    /* border: #FF6D46 dashed 4px; */
    overflow: hidden;

    transition-property: all;
    transition-delay: 0.2s;
    transition-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg{
    background: #FBFFDA;
}

.inner{
    position: relative;
    height: 90%;
    width: 100%;
    max-width: 400px;
    /* border: green solid 3px; */
}
.date{
    height: 25%;
    width: 45%;
    /* border: #FF6D46 dashed 4px; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date__right__col{
    composes: date;
    right: 10%;
}

.date__left__col{
    composes: date;
    left: 11.5%;
}

.left__col{
    composes: date;
    left: -23%;
}

.right__col{
    composes: date;
    right: -23%;
}

.left1{
    composes: left__col;
    top: 0;
}
.left2{
    composes: left__col;
    top: 20%;
}
.left3{
    composes: left__col;
    top: 40%;
}
.left4{
    composes: left__col;
    top: 60%;
}
.left5{
    composes: left__col;
    top: 80%;
}
.right1{
    composes: right__col;
    top: -11%;
}
.right2{
    composes: right__col;
    top: 11%;
}
.right3{
    composes: right__col;
    top: 31%;
}
.right4{
    composes: right__col;
    top: 51%;
}
.right5{
    composes: right__col;
    top: 71%;
}
.topsmiley {
    composes: date__left__col;
    top: -12%;
    /* border: #FF6D46 dashed 4px; */
}
.bottomsmiley {
    composes: date__right__col;
    top: 80%;
    /* border: #FF6D46 dashed 4px; */
}
.fun {
    height: 20%;
    width: 35%;

    position: absolute;
    left: 16%;
    top: 12%;
    /* border: #FF6D46 dashed 4px; */
}

.textcircle {
    composes: date__right__col;
    top: 0%;
    /* border: #FF6D46 dashed 4px; */
}

.textname {
    position: relative;
    margin-top: 6px;
    width: 40%;
    /* right: 5%; */
    /* maybe dont needed: */
    bottom: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 10%; */
    font-family: 'CosHalavDfus';
    font-style: normal;
    font-weight: 400;
    /* line-height: 5%; */
    letter-spacing: 0.125rem;
    color: white;

    /* background: #FF6D46; */
    /* border: #6249FF dashed 1px; */
}
.number{
    font-family: 'CosHalavDfus';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 0.02rem;
    color: #FBFFDA;
    transform: rotate(0.01deg);
    
    position: relative;
    bottom: 10%;
    /* border: #6249FF dashed 4px; */
}

.years {
    composes: date__right__col;
    top: 20%;
    /* border: #FF6D46 dashed 4px; */
}

.months {
    composes: date__left__col;
    top: 31%;
    /* border: #FF6D46 dashed 4px; */
}

.days {
    composes: date__right__col;
    top: 40%;
    /* border: #FF6D46 dashed 4px; */
}
.hours {
    composes: date__left__col;
    top: 51%;
    /* border: #FF6D46 dashed 4px; */
}
.minutes {
    composes: date__right__col;
    top: 60%;
    /* border: #FF6D46 dashed 2px; */
}

.seconds {
    composes: date__left__col;
    top: 71%;
    /* border: #FF6D46 dashed 2px; */

}

.hidden {
    opacity: 0;
    transition: 4s;
}

.show {
    opacity: 1;
}