.container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FFC4B5;
    /* border: #FF6D46 dashed 4px; */

    transition-property: all;
    transition-delay: 0.2s;
    transition-duration: 2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg{
    background: #FBFFDA;
}



.inner{
    position: relative;
    height: 90%;
    width: 100%;
    max-width: 400px;
    /* border: green solid 3px; */
}
.leftcol {
    height: 85%;
    width: 20%;

    position: absolute;
    left: 0%;
    top: 7%;
    /* border: #FF6D46 dashed 4px; */
}

.rightcol {
    height: 100%;
    width: 20%;

    position: absolute;
    right: 0%;
    bottom: 1%;
    /* border: #FF6D46 dashed 4px; */
}
.date{
    height: 20%;
    width: 50%;
    /* border: #FF6D46 dashed 4px; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date__right__col{
    composes: date;
    right: 8%;
}

.date__left__col{
    composes: date;
    left: 7%;
}


.topsmiley {
    composes: date__left__col;
    top: 2%;
    /* border: #FF6D46 dashed 4px; */
}

.fun {
    height: 20%;
    width: 35%;

    position: absolute;
    left: 15%;
    top: 22%;
    /* border: #FF6D46 dashed 4px; */
}

.textcircle {
    composes: date__right__col;
    top: 9%;
    /* border: #FF6D46 dashed 4px; */
}

.textname {
    position: relative;
    margin-top: 6px;
    width: 40%;
    /* right: 5%; */
    /* maybe dont needed: */
    bottom: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 10%; */
    font-family: 'CosHalavDfus';
    font-style: normal;
    font-weight: 400;
    /* line-height: 5%; */
    letter-spacing: 0.125rem;
    color: white;

    /* background: #FF6D46; */
    /* border: #6249FF dashed 1px; */
}
.number{
    font-family: 'CosHalavDfus';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 0.02rem;
    color: #FBFFDA;
    transform: rotate(0.01deg);
    
    position: relative;
    bottom: 10%;
    /* border: #6249FF dashed 4px; */
}

.years {
    composes: date__right__col;
    top: 30%;
    /* border: #FF6D46 dashed 4px; */
}

.months {
    composes: date__left__col;
    top: 44%;
    /* border: #FF6D46 dashed 4px; */
}

.days {
    composes: date__right__col;
    top: 50%;
    /* border: #FF6D46 dashed 4px; */
}
.hours {
    composes: date__left__col;
    bottom: 19%;
    /* border: #FF6D46 dashed 4px; */
}
.minutes {
    composes: date__right__col;
    top: 71%;
    /* border: #FF6D46 dashed 2px; */
}

.seconds {
    composes: date__left__col;
    bottom: 2%;
    /* border: #FF6D46 dashed 2px; */

}

.hidden1 {
    opacity: 0;
    transition: 1s;
}

.hidden2 {
    opacity: 0;
    transition: 2s;
}

.show {
    opacity: 1;
}