.container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FBFFDA;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 0;
    padding: 0;
}
.inner{
    position: absolute;
    height: 80%;
    width: 100%;
    max-width: 400px;
    top: 3%;
    /* border: green solid 3px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.textAndTime {
    /* border: green solid 3px; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    max-width: 347px;
}

.text {
    /* border: blue solid 3px; */
    position: absolute;
    height: 40%;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 10.5%;
    z-index: 1;
    font-size: 180%;
    font-family: 'COLBO';
    font-style: normal;
    letter-spacing: 0.125em;
    color: black;
}

.purpleBackground {
    /* border: purple solid 3px; */
    position: absolute;
    height: 100%;
    width: 90%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5%;
}

.time {
    /* border: green solid 3px; */
    position: absolute;
    width: fit-content;
    font-size: 440%;
    font-family: 'COLBO';
    font-style: normal;
    letter-spacing: 0.1em;
    color: black;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.orangeLoby {
    /* border: green solid 3px; */
    position: absolute;
    height: 10%;
    width: 40%;
    bottom: 28%;
}

.orangeStar {
    /* border: green solid 3px; */
    position: absolute;
    width: 20%;
    height: 15%;
    /* align-self: flex-end; */
    bottom: 1%;
    left: 11%;
}

.purpleStar {
    /* border: green solid 3px; */
    position: absolute;
    width: 20%;
    height: 15%;
    /* align-self: flex-start; */
    top: 3%;
    right: 11%;
    margin-top: 8%;
}