.container{
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FBFFDA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobbyLogo{
    position: absolute;
    height: 25%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border: #FF6D46 dashed 4px; */
}

