.container{ 
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FFC4B5;
    /* border: #FF6D46 dashed 4px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


  