.container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FBFFDA;
    display: flex;
    justify-content: center;
}

/*No votes*/

.firstText {
    position: absolute;
    width: 65%;
    height: 20%;
    top: 10%;

    font-family: 'CosHalavDfus';
    font-style: normal;
    font-weight: 400;
    font-size: 312%;
    line-height: 81.5%;
    /* or 41px */

    text-align: center;
    letter-spacing: 0.015em;

    color: #FC653C;
}

.secondText {
    position: absolute;
    width: 75%;
    height: 10%;
    top: 35%;

    font-family: 'CosHalavDfus';
    font-style: normal;
    font-weight: 400;
    font-size: 312%;
    line-height: 80%;
    /* or 40px */

    text-align: center;
    letter-spacing: 0.015em;

    color: #6B53FF;
}

.exclamationStar {
    /* border: green solid 3px; */
    position: absolute;
    height: 30%;
    width: 60%;
    top: 52%;
}

/*Yes Votes*/

.topText {
    /* border: green solid 3px; */
    position: absolute;
    width: 40%;
    height: 15%;
    top: 2%;
    right: 10%;
}

.leftStar {
    /* border: green solid 3px; */
    position: absolute;
    width: 65%;
    height: 40%;
    left: 0%;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textInLeftStar {
    /* border: #FC653C solid 3px; */
    position: relative;
    font-family: 'CosHalavDfus';
    color: white;
    font-size: 1100%;
    bottom: 8%;
    right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 25%;

}

.rightStar {
    /* border: green solid 3px; */
    position: absolute;
    width: 65%;
    height: 40%;
    right: 0%;
    top: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textInRightStar {
    /* border: green solid 3px; */
    position: relative;
    font-family: 'CosHalavDfus';
    color: white;
    font-size: 1100%;
    bottom: 2%;
    left: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 25%;
}

.middleText{
    /* border: green solid 3px; */
    position: absolute;
    width: 40%;
    height: 15%;
    top: 54%;
    left: 7%;
}

.hearMore {
    /* border: green solid 2px; */
    position: absolute;
    width: 55%;
    height: 15%;
    bottom: 15%;
}