.container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: rgb(193, 193, 193);
    display: flex;
    justify-content: center;
    /* align-items: center; */

    transition-property: all;
    transition-delay: 0.2s;
    transition-duration: 2s;
}

.bg {
    background: #FFC4B5;
}


.text {
    align-self: center;
    position: absolute;
    font-family: 'COLBO';
    font-style: normal;
    font-weight: 900;
    line-height: 88%;

    text-align: right;
    letter-spacing: 0.05em;
    color: #FC653C;

    width: 85.64%;
    height: 40.37%;
    left: 7.18%;
    top: 27.02%;
    font-size: 406.25%;
}


.circles {
    /* border: purple solid 2px; */
    position: absolute;
    height: 18.6%;
    width: 8.77%;
    top: 78.5%;
    left: 86.4%;
}
